
<h1> Young Patriots</h1>

<p>Starting point</p>



<p>signup to start buying</p>
<h3>start your search</h3>


<p>prices etc</p>

<p>look for items</p>
<h3>these will appear across your site</h3>

<p>build a cart</p>
<h3>more you buy the more you save</h3>




