<% layout('layout') -%>


 <!-- Main jumbotron for a primary marketing message or call to action -->
 <div class="jumbotron" id="navbar-gap">
        <div class="container">
                <h1> Young Patriots</h1>
                <p>Starting point</p><p><a class="btn btn-primary btn-lg" href="#" role="button">Signup &raquo;</a></p>
        </div>
      </div>
  
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
                <h3>start your search</h3> 
            <p>signup to start buying</p>
                
                
          </div>
          <div class="col-md-4">
                <h3>these will appear across your site</h3>
            <p>look for items</p>
                
         </div>
          <div class="col-md-4">
                <h3>more you buy the more you save</h3>
            <p>build a cart</p>
                
          </div>
        </div>
  
        <hr>
  
        
      </div>
  



